/*https://coolors.co/ffb6f1*/
/*
cuadrado
Los esquemas de colores cuadrados son como tetrádicos dispuestos en un cuadrado en lugar de un rectángulo. Los colores parecen incluso más contrastantes.
FFB6F1 rosa
FFEAB8 amarillo
B8FFC6 verde
B8CDFF azul
*/

.footeriavg {
  background-color: #FFB6F1;
  color: black;

}

.btniavg {
  background-color: #FFB6F1;
  color: black;

}

.cardcontenidoiavg {
  background-color: #ffffff;
  color: black;

}

.cardiavg {
  background-color: #FFB6F1;

}

.meniavg {
  background-color: #FFB6F1;

}

.customlogo {
  width: 195px;
  /* Ancho del círculo */
  height: 200px;
  /* Altura del círculo */
  /*background-color: rgb(255, 255, 255);*/
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* Asegura que la imagen cubra el área del círculo */
}

.centrador {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
}

.circulo {

  width: 100px;
  height: 100px;
  /*background-color: blue;*/
  border-radius: 50%;
  /* Esto convierte el cuadrado en un círculo */
}

.bntcc {
  background-color: #FFB6F1;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;

}

/* styles.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* Ajusta el espacio entre las tarjetas */
}

.product-card {
  margin: 1rem;
  /* Ajusta el margen alrededor de cada tarjeta */
  box-sizing: border-box;
  width: calc(25% - 2rem);
  /* Ajusta el ancho de las tarjetas */
}

@media (max-width: 1200px) {
  .product-card {
    width: calc(33.33% - 2rem);
    /* 3 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 2rem);
    /* 2 tarjetas por fila en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .product-card {
    width: calc(100% - 2rem);
    /* 1 tarjeta por fila en pantallas muy pequeñas */
  }
}